apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webserver
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/mwhalen18/dev-cluster
    targetRevision: main
    path: kubernetes/eks-apps/webserver
  destination:
    server: https://kubernetes.default.svc
    namespace: webserver
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
