apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default

  sources:
    - chart: traefik
      repoURL: https://traefik.github.io/charts
      targetRevision: "38.0.2"
      helm:
        valueFiles:
          - $traefik/traefik-values.yaml
    - repoURL: https://github.com/mwhalen18/dev-cluster
      targetRevision: main
      ref: traefik
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
