replicas: 1
service:
  type: LoadBalancer

ports:
  web:
    port: 80
    exposedPort: 80
  websecure:
    port: 443
    exposedPort: 443

service:
  type: ClusterIP  # Caddy will reverse-proxy to Traefik

ingressRoute:
  dashboard:
    enabled: true

ingressClass:
  enabled: true
  isDefaultClass: false  # avoid conflicts if other ingress controllers exist