replicas: 1

service:
  type: LoadBalancer  # since Caddy will reverse-proxy

ingressRoute:
  dashboard:
    enabled: true
    entryPoints:
      - web
    domain: traefik.eks.mydomain.com

ingressClass:
  enabled: true
  isDefaultClass: false