replicas: 1

service:
  type: ClusterIP  # since Caddy will reverse-proxy

ingressRoute:
  dashboard:
    enabled: true
    entryPoints:
      - web
    domain: traefik.eks.matthewrwhalen.com

ingressClass:
  enabled: true
  isDefaultClass: false