apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webserver
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: webserver
  revisionHistoryLimit: 2
  source:
    repoURL: https://github.com/mwhalen18/dev-cluster.git
    targetRevision: HEAD
    path: kubernetes/webserver
    helm:
      valuesObject:
        cluster_context:
          alb_CertificateArn: ""
          alb_Subnets: ""
          alb_SecurityGroups: ""
          applicationKey: ""
          applicationName: "webserver"
          applicationService: "webserver"
          pipelineBuildNumber: ""
          pipelineBranch: ""
          environment: ""
          environmentRegion: ""
          networkDomainName: ""
        http_proxy: ""
        no_proxy: ""
        ecr:
          registry: ""
          prefix: ""
        image: "webserver"
      parameters:
        name: image
        value: '{{ .Values.webserver.image }}'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
